<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${loggedInUser.name}+' | Connectly'"></title>
</head>

<body>
    <div id="content">
        <!-- sidebar for logged-in users -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>
        <div style=" height: 1000px;">
            <div style="padding-top: 5rem; height: 1000px;" id="responsiveDiv">
                <style>
                    @media (min-width: 640px) {
                        #responsiveDiv {
                            padding-left: 16rem; /* Equivalent to sm:pl-64 in Tailwind */
                        }
                    }
                </style>
                 <div class="flex justify-center flex-col items-center">
                    <h1 class="text-5xl">Welcome to Profile page</h1>
                    <p>g elit. A hic labor iossslmlsaj lsjdljljsla jijiodjojoijam sed commodi alias et quat ulladipis</p>
                </div>
            </div>
            
           
            
        </div>
    <!-- </div> -->
    
    <script>
        console.log("this is a profile");
    </script>
</body>
</html>